@font-face {
  font-family: 'KoddiUDOnGothic-Bold';
  src: url('@/assets/font/KoddiUDOnGothic-Bold.woff');
}

@font-face {
  font-family: 'KoddiUDOnGothic-ExtraBold';
  src: url('@/assets/font/KoddiUDOnGothic-ExtraBold.woff');
}

@font-face {
  font-family: 'KoddiUDOnGothic-Regular';
  src: url('@/assets/font/KoddiUDOnGothic-Regular.woff');
}
